<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class= "panel-title">
      <%= f.object.word.content %>
      <b class="pull-right"><%= t :question%><%= f.options[:child_index] + 1 %></b>
    </h3>
  </div>
  <div class="panel-body">
    <% f.object.word.answers.each do |answer| %>
      <div class= "radio">
        <label>
          <%= f.radio_button :answer_id, answer.id,
            disabled: @lesson.learned, class: "choose" %>
          <% if @lesson.learned && f.object.answer == answer %>
            <%= answer.content %> &nbsp
              <% if answer.correct %>
                  <%= t :correct_answer%>
              <% end %>
          <% else %>
            <%= answer.content %>
          <% end %>
        </label>
      </div>
    <% end %>
  </div>
</div>
